upstream php {
  server unix:/var/run/php/php7.0-fpm.sock;
}

server {
  listen 80; listen [::]:80;
  server_name {{ limesurvey_server_name }};

  return 301 https://$host$request_uri;
}

server {
  listen 443 ssl http2;
  server_name {{ limesurvey_server_name }};

  ssl_certificate /etc/letsencrypt/live/{{ limesurvey_server_name }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ limesurvey_server_name }}/privkey.pem;
  include /etc/letsencrypt/options-ssl-nginx.conf;

  gzip on;

  root {{ limesurvey_dir }};
  index index.php index.html index.htm;

  location / {
    try_files $uri $uri/ =404;
  }

  location ~ .php$ {
    # This splits the URI into two variables:
    fastcgi_split_path_info ^(.+\.php)(/.+)$;

    # For the sake of security, don't pass non-existing files.
    try_files $fastcgi_script_name =404;

    # Include environment defaults for FastCGI
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

    fastcgi_index index.php;
    fastcgi_pass php;
  }
}
